
.thumb {
    border: thin solid black;
}

.headlineElements {
    background-color: #FAFCFF;
    border: 1px outset Gainsboro;
    margin-top: 1em;
    margin-bottom: 1em;
}

.headlineElements:hover {
    // a shade slightly lighter than ghostwhite
    background-color: #FCFFFF;
}

.headlineText {
    display: inline-block;
}

// allow new lines in toast messages
.toast-message {
    white-space: pre;
}
