
// center thumbnails
.thumb {
    display: block;
    margin: auto;
    border: thin solid black;
}

.headlineElements {
    background-color: ghostwhite;
    margin-bottom: 1em;
    border: thin solid black;
    border-radius: 0.5em;
}
